<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.freepath.devpath.chatting.query.mapper.ChattingRoomMapper">
    <select id="selectChattingRooms" resultType="com.freepath.devpath.chatting.query.dto.response.ChattingRoomDTO">
        WITH OtherUser AS (
        SELECT
        cj_sub.chatting_room_id,
        u.nickname,
        ROW_NUMBER() OVER (PARTITION BY cj_sub.chatting_room_id ORDER BY u.nickname) as rn
        FROM CHATTING_JOIN cj_sub
        JOIN USERS u ON cj_sub.user_id = u.user_id
        WHERE cj_sub.user_id != #{userId}
        )
        SELECT
        cr.chatting_room_id,
        COALESCE(
        cr.chatting_room_title,
        COALESCE(ou.nickname, '상대방 없음')
        ) AS chatting_room_title,
        cr.user_count
        FROM
        CHATTING_JOIN cj
        JOIN CHATTING_ROOM cr ON cj.chatting_room_id = cr.chatting_room_id
        LEFT JOIN OtherUser ou ON ou.chatting_room_id = cr.chatting_room_id AND ou.rn = 1
        WHERE
        cj.user_id = #{userId}
        AND cj.chatting_join_status = 'Y'
        AND NOT EXISTS (
        SELECT 1
        FROM CHATTING_JOIN cj2
        JOIN USER_BLOCK ub ON ub.blocker_id = #{userId}
        WHERE cj2.chatting_room_id = cr.chatting_room_id
        AND cj2.user_id = ub.blocked_id
        AND cj2.user_id != #{userId}
        AND cj2.chatting_role = 'ONE'
        );


    </select>
    <select id = "selectWaitingUsers" resultType="com.freepath.devpath.chatting.query.dto.response.ChattingRoomWaitingDTO">
        SELECT
                u.user_id, nickname
        FROM
                users u
        JOIN
                chatting_join cj ON u.user_id = cj.user_id
        WHERE
                cj.chatting_room_id=#{chattingRoomId}
        AND     cj.chatting_role = 'MEMBER'
        AND	    cj.chatting_join_status = 'W';
    </select>
    <select id = "selectJoinUsers" resultType="com.freepath.devpath.chatting.query.dto.response.ChattingRoomJoinUserDTO">
        SELECT
                u.user_id,
                u.nickname
        FROM
                USERS u
        JOIN
                CHATTING_JOIN cj ON u.user_id = cj.user_id
        WHERE cj.chatting_room_id = #{chattingRoomId}
        AND cj.chatting_join_status='Y';
    </select>
    <select id = "selectWaitingRoom" resultType="com.freepath.devpath.chatting.query.dto.response.WaitingChattingRoomDTO">
        SELECT chatting_room_title FROM chatting_room cr
        JOIN chatting_join cj ON cr.chatting_room_id = cj.chatting_room_id
        WHERE cj.chatting_join_status = 'W'
        AND cj.user_id=#{userId};
    </select>
</mapper>